<div class="jumbotron">
   <div class="container">
       <h1 class="display-3"> simple Amazing UI</h1>
       <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>

   </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Friends
        </a>
      </div>
      <div class="col-sm">
        <a href=""
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center">
       <span><i class="fa fa-mobile"></i></span>
       <br>Mobile
     </a>
      </div>
      <div class="col-sm">
        <a href=""
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center">
       <span><i class="fa fa-shopping-cart"></i></span>
       <br>Cart
     </a>
      </div>
      <div class="col-sm">
        <a href=""
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center">
       <span><i class="fa fa-car"></i></span>
       <br>Car
     </a>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img style="width: 240px; height: 160px;" src="/assets/images/horse.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Cute Horse</h5>
                    <p class="card-text">some quick exemple text content .</p>
                    <a href="#" class="btn btn-primary">vie Horse</a>
        
                </div>
        
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img style="width: 200px; height: 160px;" src="/assets/images/squirrel.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Cute squirrel</h5>
                    <p class="card-text">some quick exemple text content .</p>
                    <a href="#" class="btn btn-primary">vie squirrel</a>
        
                </div>
        
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img style="width: 200px; height: 160px;" src="assets/images/lion.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Cute lion</h5>
                    <p class="card-text">some quick exemple text content .</p>
                    <a href="#" class="btn btn-primary">vie lion</a>
        
                </div>
        
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img style="width: 200px; height: 160px;"src="assets/images/dog.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Cute dog</h5>
                    <p class="card-text">some quick exemple text content .</p>
                    <a href="#" class="btn btn-primary">vie dog</a>
        
                </div>
        
            </div>
          </div>
        </div>
      </div>



  </div>
